@import "imports/_resetCss";
@import "imports/_settings";
@import "imports/_mixins";
@import "imports/_animation";
@import "imports/_forms";
.grab(m);
@media screen and (min-width:@tablet-width){
  .grab(p);
}
@media screen and (min-width:@full-width){
  .grab(c);
}
body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.hidden{
	display: none;
}
@import "imports/header/_header";
@import "imports/header/_logo";
@import "imports/header/_menu";
section{
	z-index: 1;
	width: 100%;
	overflow: hidden;
	background: linear-gradient(-45deg, rgba(57, 1, 198, 0.48), rgba(150, 198, 1, 0.6), rgba(57, 1, 198, 0.71), #faff07);
	border-radius: 10px;
	box-shadow: 0 0 100px #e2e2e2;
	// -webkit-box-shadow: 0 0 100px -10deg #e2e2e2;
	-moz-box-shadow: 0 0 100px -10deg #e2e2e2;
	margin: 40px auto;
	@media screen and (min-width:@tablet-width){
 		width: 100%; 	
	}
	@media screen and (min-width:@full-width){
  		width: 1024px;	
	}
}

@import "imports/_maps_nav";
@import "imports/_article";
@import "imports/_hot_deals";
@import "imports/_form_search";

@import "imports/addCar/_registration";
@import "imports/addCar/_car_info";
@import "imports/addCar/_audience";
@import "imports/_publication";



@import "imports/_footer";
